* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, Arial sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient( 135deg, rgba(255, 0, 0, 0.5), rgb(245, 53, 187, 0.5));
}

h2 {
    margin: 20px 0;
}

form {
    min-width: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0;
}

label {
    position: absolute;
    top: 20%;
    font-size: 1.5rem;
}

input {
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #2a2a2a;
}

input:hover {
    cursor: text;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

label {
    transition: 150ms ease-in-out;
}

input:focus+label,
input:not(:placeholder-shown)~label {
    top: -10px;
    font-size: 0.8rem;
}

button {
    padding: 10px;
    background-color: rgb(63, 63, 252);
    font-size: 1.5rem;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}